@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  line-height: 1.5em;
  color: #333;
  background-color: #eee;
}

#container {
  align-items: center;
  justify-content: center;
  /* display: flex; */
  height: 100%;
  overflow: auto;
}

#form {
  width: 100%;
}

#label {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0.8em;
  padding: 0 0.5em;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

#data {
  border-radius: 2px;
  background: #fff;
  width: 90%;
  padding: 0.4em 0.5em;
  border: 1px solid black;
  min-height: 2em;
  margin: 0 0 1.2em;
  font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
}

select#data {
  height: 2em;
}

#data-container {
  text-align: center;
}

#buttons {
  text-align: right;
  padding: 0 0.5em 0 0;
}

#buttons > button {
  width: 100px;
  background: white;
  color: #333333;
  border-radius: 2px;
  border: 0;
  margin: 0 0 0 0.5em;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 1em;
  padding: 0.6em 1em;
  border: 1px outset rgb(206, 206, 206);
  transition: all 0.25s;
}

#buttons > button:hover {
  background: #333333;
  color: white;
}
